@font-face {
    font-family: Inter;
    src: url(../Inter-VariableFont_slnt\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

body {
    width: 1440px;
    height: 1024px;
    top: -2959px;
    left: -1400px;
    padding: 0px 0px 75px 0px;
    gap: 0px;
    opacity: 0px;
}

.header {
    display: flex;
}

.header__left {
    display: flex;
    align-items: center;
    width: 627px;
    height: 40px;
    margin: 25px 329px 25px 80px;
}

.header__logo {
    width: 195px;
    height: 40px;
    font-size: 32.8px;
    font-weight: 800;
    font-family: "Inter", "sans-serif";
    color: #0D3356;
    margin-right: 60px;
    font-style: italic;
}

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 372px;
    height: 19px;
    font-size: 16px;
    color:
        #1D364D;
    font-weight: 500;
    font-family: "Inter", "sans-serif";

}


.header__right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.header__icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F1EE;
    /* Màu nền mặc định, sẽ được ghi đè cho từng icon */
}

.header__icon--bag {
    background-color: #F5F1EE;
}

.header__icon--bell {
    background-color: #EEEFF8;
}

.header__icon--user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header__number,
.header__notification {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    color: #FFFFFF;
}

.header__number {
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    background-color: black;
    border: 2px solid white;
}

.header__notification {
    top: 0;
    right: 4px;
    width: 10px;
    height: 10px;
    background-color: red;
}

.header__user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__greeting {
    font-size: 12px;
    color: #C0C3C6;
    margin-bottom: 5px;
    font-family: "Inter", sans-serif;
}

.header__username {
    font-size: 16px;
    font-weight: 600;
    color: #1D364D;
    font-family: "Inter", sans-serif;
}

main {
    width: 1240px;
    height: 784px;
    margin: 60px auto 155px auto;
    display: grid;
    position: relative;
    grid-template-columns: 40% 60%;
}

.contact-section {
    width: 505px;
    height: 784px;
    background-color: #F9FAFB;
    border-radius: 14px 0px 0px 14px;
}

.contact-section__content {
    display: inline;
    height: 690px;
    font-family: "Inter", sans-serif;
    background-color: #F9FAFB;
}

.contact-section__title {
    width: 334px;
    height: 34px;
    font-size: 28px;
    margin: 47px 127px 21px 44px;
    color: #444444;
    font-family: "Montserrat", sans-serif;
}

.contact-section__text {
    width: 417px;
    height: 55px;
    size: 16px;
    line-height: 27.2px;
    color: #5A5A5A;
    margin: 0px 44px 30px 44px;
    display: flex;
}

.contact-section__info {
    width: 417px;
    height: 550px;
    margin: 0px 44px 47px 44px;
}

.contact-item {
    margin-bottom: 28px;
    height: 101px;
    gap: 16px;
}

.contact-item__icon-text {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;
}

img {
    width: 24px;
    height: 24px;
}

.contact-item__details {
    width: 377px;
    height: 61px;
    gap: 5px;
}

.contact-item__description {
    width: 377px;
    height: 28px;
    color: #5A5A5A;
    font-family: "Inter", sans-serif;
}

.contact-item__text--email {
    color: #1472B2;
    font-weight: 500;
}

.contact-item__mail {
    width: 377px;
    height: 28px;
    margin-left: 40px;
    margin-bottom: 28px;
}

.contact-item__phone-numbers {
    width: 582px;
    height: 43px;
    font-weight: 500;
    margin-left: 40px;
}

.contact-item__contact-phone {
    margin-bottom: 43.28px;
}

.contact-item__phone {
    margin-bottom: 7px;
    color: #1472B2;
    size: 16px;
    line-height: 27.2px;
    font-weight: 500;
}

.contact-section__content__info1-phone {
    width: 417px;
    height: 136px;
    margin-bottom: 28px;
}

.contact-item__title {
    width: 192px;
    height: 28px;
    color: #444444;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
}

.contact-form {
    width: 735px;
    height: 784px;
    margin-right: 100px;
    background-color: white;
}

.contact-form__content {
    width: 610px;
    height: 670px;
    margin: 57px 63px;
}

.contact-form__title {
    color: #444444;
    font-size: 34px;
    width: 411px;
    height: 94px;
    margin: 57px 258px 0px 66px;
    font-family: "Montserrat", sans-serif;
}

.contact-form__content-name,
.contact-form__content-email,
.contact-form__content-phone,
.contact-form__content-interested {
    width: 295px;
    height: 80px;
    font-weight: 500;
    font-family: "Inter", "serif";
    color: #444444;
    font-size: 16px;
    margin-bottom: 33px;
    margin-right: 20px;
}

.contact-form__content-message {
    font-weight: 500;
    font-family: "Inter", "serif";
    color: #444444;
    font-size: 16px;
    margin-bottom: 33px;
}


.contact-form__btn {
    width: 290px;
    height: 50px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    color: white;
    background-color: #1472B2;
    font-weight: 500;
    cursor: pointer;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form__content div {
    display: flex;
}

input,
select,
textarea {
    width: 295px;
    height: 50px;
    background-color: #F6F6F6;
    border: none;
    font-family: "Inter", "sans-serif";
    font-weight: 400;
}

textarea {
    width: 610px;
    height: 147px;
    background-color: #F6F6F6;
    border: none;
    font-family: "Inter", "sans-serif";
    font-weight: 400;
}