@font-face {
    font-family: Inter;
    src: url(../Inter-VariableFont_slnt\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    /* font-family: "Inter", sans-serif; */
    font-family: Inter;
}

body {
    width: 1440px;
    height: 1024px;
    top: -2959px;
    left: -1400px;
    padding: 0px 0px 75px 0px;
    gap: 0px;
    opacity: 0px;

}

h3 {
    color: #444444;

}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.semi-bold {
    font-weight: 500;
}

.main-color {
    color: #0D3356;
}

.right__header {
    display: flex;
    margin-left: 329px;
    padding-bottom: 20px;
    width: 324px;
    height: 50px;
}

.flex-col {
    display: inline;
    width: 126px;
    height: 41px;
    gap: 7px;
    padding-top: 4.5px;
}

.user-say {
    font-size: 12px;
    width: 100px;
    height: 15px;
    color: #C0C3C6;
    margin-bottom: 7px;
}

.nav__space-between {
    display: flex;
    justify-content: space-between;
    width: 627px;
    height: 40px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    width: 625px;
}

.text-darkgray {
    color: #667085;
}

.text-darkblue {
    color: #1472B2;
}

.text-main {
    color: #3A4980;
}

.text-sm {
    font-size: 12px;
    line-height: 14px;
}

.user-name {
    font-size: 16px;
    font-weight: 600;
    color: #1D364D;
}

.text-large {
    font-size: 24px;
    line-height: 42px;
}

.text-icon {
    font-weight: 800;
    font-style: italic;
    font-size: 32px;
    line-height: 40px;
    color: #0D3356;
    width: 195px;
}

header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 9999;
    height: 90px;
    border-bottom: 1px solid #ededed;
}

header section {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    /* background-color: aquamarine; */
    padding: 25px 80px;
    /* border-bottom: 1px solid #ededed; */
}

header section div nav {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #1D364D;
    width: 372px;
    height: 19px;
    padding: 10.5px 0px 10.5px 35px;
    gap: 48px;
}

nav span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1D364D;
}

.icon-bag {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    background-color: #F5F1EE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
}

.icon-user {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
}

.icon-user img {
    width: 50px;
    height: 50px;
}

.number {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    border: 2px solid white;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2px;
    right: -2px;
    font-size: small;
}

.icon-bell {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    border: 2px solid white;
    background-color: #EEEFF8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
}

.notify {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    background-color: red;
    top: 0;
    right: 4px;
    font-size: small;
}

main {
    width: 1240px;
    height: 784px;
    margin: 60px auto 155px auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

.sec-left {
    width: 505px;
    height: 784px;
    background-color: #F9FAFB;
    border-radius: 14px 0px 0px 14px;
}

.sec-left__content {
    display: inline;
    height: 690px;
}

h2 {
    width: 334px;
    height: 34px;
    font-size: 28px;
    margin: 47px 127px 21px 44px;
}

.sec-left__content-text {
    width: 417px;
    height: 55px;
    size: 16px;
    line-height: 27.2px;
    color: #5A5A5A;
    margin: 0px 44px 30px 44px;
    display: flex;
}

.sec-left__content__info {
    width: 417px;
    height: 550px;
    margin: 0px 44px 47px 44px;
}

.sec-left__content__info1 {
    margin-bottom: 28px;
    height: 101px;
    gap: 16px;
}

.sec-left__content__info2 {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;
}

img {
    width: 24px;
    height: 24px;
}

h3 {
    width: 192px;
    height: 28px;
}

.sec-left__content__info3 {
    width: 377px;
    height: 61px;
    gap: 5px;
}

.sec-left__content__info4 {
    width: 377px;
    height: 28px;
    color: #5A5A5A;
}

.contact {
    width: 377px;
    height: 28px;
    margin-left: 40px;
    margin-bottom: 28px;
}

.phone__number {
    margin-bottom: 7px;
    color: #1472B2;
    size: 16px;
    line-height: 27.2px;
    font-weight: 500;
}

.sec-left__content__info1-phone {
    width: 417px;
    height: 136px;
    margin-bottom: 28px;
}

.sec-right {
    width: 735px;
    height: 784px;
    margin-right: 100px;
    background-color: white;
}

.sec-right__content {
    width: 610px;
    height: 670px;
    margin: 57px 62px;
}

h1 {
    color: #444444;
    font-size: 34px;
    width: 411px;
    height: 94px;
}

.sec-right__content__info {
    width: 610px;
    height: 513px;
    margin-top: 56px;
}

.sec-right__content__info1 {
    display: flex;
    width: 610px;
    height: 80px;
    margin-bottom: 33px;
}

.sec-right__content__info2 {
    font-family: Inter;
    width: 295px;
    height: 80px;
    margin-right: 20px;
}

input {
    margin-top: 11px;
    width: 295px;
    height: 50px;
    size: 18px;
    background-color: #F6F6F6;
}

.sec-right__content__info3 {
    width: 184px;
    height: 19px;
    margin-bottom: 11px;
}

.sec-right__content__info4 {
    display: flex;
    width: 295px;
    height: 50px;
    gap: 3px;
    background-color: #F6F6F6;
    padding: auto;
}

.head_no {
    width: 27px;
    height: 18px;
    margin: 16px 3px 16px 15px;
}

.icon-down {
    width: 17px;
    height: 17px;
    margin: 17px 17px 16px 0px;
}

.icon-down>img {
    padding-bottom: 5px;
}

.title {
    width: 160px;
    height: 18px;
    margin-top: 16px;
    font-size: 15px;
    color: #7B7B7B;
}

.title1 {
    width: 131px;
    height: 18px;
    margin-left: 20px;
    margin-top: 16px;
    font-size: 15px;
    color: #7B7B7B;
}

.icon-down1 {
    width: 17px;
    height: 17px;
    margin: 17px 15px 16px 100px;
}

.icon-down1>img {
    padding-bottom: 5px;
}

.sec-right__content__message {
    width: 610px;
    height: 147px;
    background-color: #F6F6F6;
    color: #7B7B7B;
}

.title2 {
    width: 246px;
    height: 18px;
    font-size: 15px;
    line-height: 18.15px;
    padding: 16px 344px 113px 20px;
}

.sec-right__content__btn {
    display: flex;
    margin-top: 55px;
    width: 295px;
    height: 54px;
    background-color: #1472B2;
    color: #EEEFF8;
}

.title3 {
    width: 121px;
    height: 20px;
    padding: 17px 72px 17px 73px;
    font-size: 16px;
    font-weight: 600;
}